@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #8ba0cc, #93a9d2, #9cb2d8, #a5bbdd, #afc4e3);
}

.container{
    width: 800px;
    height: 100%;
}

.container-imagem{
    margin-top: 75px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-imagem p {
    font-size: 14px;
    margin-top: 3px;
}

.img{
    background-image: url('./perfil.png');
    height: 120px;
    width: 120px;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid black;
    background-position: center;
}

.container-botao{
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
}

.botao{
    width: 90%;
    height: 60px;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    background-color: #7D9CD6;
    -webkit-box-shadow: 7px 5px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 5px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 5px 0px 0px rgba(0,0,0,0.75);
}

.botao i{
    margin-left: 20px;
    font-size: 25px;
}

.botao p{
    flex: 1;
    text-align: center;
    font-weight: 600;
}

.botao:hover{
    background-color: #719df0;
    cursor: pointer;
    width: 92%;
}